<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Ecommerce</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <button onclick="openMenu()">&#9776;</button>
          <a href="index.html">ecommerce</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart </a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <aside class="sidebar">
        <h3>Shopping Categories</h3>
        <ul>
          <li>
            <a href="index.html">Electronic Items</a>
          </li>
          <li>
            <a href="index.html">Dress</a>
          </li>
        </ul>
      </aside>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/p4.jpg"
                  alt="products"
                />
                <div class="product-name">
                  <a href="product.html"> Refrigerator</a>
                </div>
                <div class="product-brand">Samsung</div>
                <div class="product-price">Rs. 25000</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/p4.jpg"
                  alt="products"
                />
                <div class="product-name">
                  <a href="product.html"> Refrigerator</a>
                </div>
                <div class="product-brand">Samsung</div>
                <div class="product-price">Rs. 29,990</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/p3.jpg"
                  alt="products"
                />
                <div class="product-name">
                  <a href="product.html"> Refrigerator</a>
                </div>
                <div class="product-brand">Samsung</div>
                <div class="product-price">Rs. 25000</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/p4.jpg"
                  alt="products"
                />
                <div class="product-name">
                  <a href="product.html"> Refrigerator</a>
                </div>
                <div class="product-brand">Samsung</div>
                <div class="product-price">Rs. 29,990</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/p4.jpg"
                  alt="products"
                />
                <div class="product-name">
                  <a href="product.html"> Refrigerator</a>
                </div>
                <div class="product-brand">Samsung</div>
                <div class="product-price">Rs. 25000</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/p3.jpg"
                  alt="products"
                />
                <div class="product-name">
                  <a href="product.html"> Refrigerator</a>
                </div>
                <div class="product-brand">Samsung</div>
                <div class="product-price">Rs. 29,990</div>
                <div class="product-rating">4.5 Stars (10 reviews)</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">All right reserved.</footer>
    </div>
    <script>
      function openMenu() {
        document.querySelector(".sidebar").classList.add("open");
      }
    </script>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Ecommerce</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">Ecommerce</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p4.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Refrigerator</h2>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star-o"></i></span>
              </div>
              <div class="price">Rs 25000</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p4.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Refrigerator</h2>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">Rs 25000</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p4.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Refrigerator</h2>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star-half-o"></i></span>
              </div>
              <div class="price">Rs 25000</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p4.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Refrigerator</h2>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">Rs 25000</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p4.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Refrigerator</h2>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star-half-o"></i></span>
              </div>
              <div class="price">Rs 25000</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p4.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Refrigerator</h2>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star-half-o"></i></span>
                <span><i class="fa fa-star-o"></i></span>
              </div>
              <div class="price">Rs 25000</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All right reserved.</footer>
    </div>
  </body>
</html>
